* {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}
fieldset {
	border: none;
	outline: none;

}
.container{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;

}

.main-header{
	padding: 15px 0;
	background-color: #ffcd34;
	overflow: hidden;

}

.logo{
	float: left;
	text-decoration: none;	
}

.logo-img,
.logo-text{
	vertical-align: middle;
	font-size: 24px;
	color: #000;
}

.main-menu{
	
	float: right;
	text-align: center;
}

.main-menu li{
	
	display: inline-block;

}

.main-menu a{
	font-size: 16px;
	padding: 11px;
	display: inline-block;
	text-decoration: none;
	color: #bc9d36;
}

.main-item:hover{
color: #000;
border: 1px solid #bc9d36;
}

.main-item:active{
	border: 1px solid #796e38;
}


.button-order{
	
	width: 175px;
	height: 46px;
	background-color: #ffe184;
	text-decoration: none;
	color: #000000;
	display: inline-block;	
	margin-left: 35px;
	padding: 0;
	border: none;

}

.button-order:hover{
	background-color: #ffecb2;

}
.button-order:active{
	background-color: #f6bf16;
}


.page-break{ 
width: 100%; 
height: 16px; 
background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%); 
-webkit-background-size: 35px 20px; 
background-size: 35px 20px;
}

.promo{
	padding: 100px 0;
	text-align: center;
	background-image: url(../img/promo-banner.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.promo-header{

	font-size: 44px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

.promo-title{
	color: white;
	font-size: 20px;
	font-weight: normal;
}



.btn-catalog-box{
	margin: 35px;
}

.button-catalog{
	border: 2px solid #ffcd34;
	text-decoration: none;
	color: #fff;
	padding: 16px 52px 16px 20px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
}

.button-catalog:after{
	position: absolute;
	content: '';
	width: 11px;
	height: 11px;
	border-right: 6px solid #fff;
	border-top: 6px solid #fff;
	top: 0;
	bottom: 0;
	right: 22px;
	margin: auto;
	transform: rotate(45deg);
}

.button-catalog:hover{
	border: 2px solid #ffd966;
}

.button-catalog:active{
	border: 2px solid #ffe390;
}

.consult{
background-color: #202e3b;
padding: 45px 0;
}

.consult-title{
	color: #ffcd34;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 40px;
}


.consult-form{
	overflow: hidden;

}

.consult-form-item{
	border: 1px solid #ffcd34;
	height: 46px;
	width: 207px;
	float: left;
	font-weight: regular;
	font-size: 16px;
	color: #fff;
	margin-right: 18px;
	background-color: #202e3b;
	padding-left: 15px;

}

input[type = 'text']{
	color: #fff ;
}
::-webkit-input-placeholder {color:#fff;} 
::-moz-placeholder {color:#fff;}/* Firefox 19+ */ 
:-moz-placeholder {color:#fff;}/* Firefox 18- */ 
:-ms-input-placeholder {color:#fff;}

.btn-order-consult{
	margin-right: 0;
	height: 48px;
	width: 223px;
	background-color: #ffcd34;
	color: #202e3b;
	font-size: 18px;
	font-weight: bold;
	outline: none;
	border: none;
}

.btn-order-consult:hover{
	background-color: #ffd966;
}



.advantages{
	padding: 45px 0;
	background-color: #fff;
	text-align: center;
}

.advantages-item{
	text-align: left;
	font-size: 13px;
	color: #424242;
	padding-right: 20px;
	float: left;
	padding-left: 55px;
	box-sizing: border-box;
	background-size: 30px;
	background-repeat: no-repeat;
	vertical-align: middle;
	position: relative;
	width: 25%;
}

.advantages-item:last-child {
	margin-right: 0;

}

.advantages-item:before{
	content: '';
	position: absolute;
	top: 5px;
	left: 0;
	height: 40px;
	width: 50px;
	background-repeat: no-repeat;

}

.advantages-item-tech:before{
	background-image: url(../img/icon-tech.png);
}


.advantages-item-worker:before{
	background-image: url(../img/icon-worker.png);
}

.advantages-item-border:before{
	background-image: url(../img/icon-border.png);
}

.advantages-item-operator:before{
	background-image: url(../img/icon-operator.png);
}


.main-tech{
	background-color: #f3f3f3;
	padding: 45px 0;
	font-size: 16px;
}

.main-tech-filter{
	float: left;
	width: 30%;

}

.subtitle{
	margin-bottom: 14px;
}

.main-tech-filter a{
	color: #202e3b;
	text-decoration: underline;
	margin-bottom: 20px;
	display: inline-block;
}
 


.tech-offers{
	float: right;
	width: 70%;
}

.tech-offers-table{
	width: 100%;
	border: none;
	border-spacing: 0px;
	border-collapse: inherit;
	border-color: transparent;
}

.column{
padding: 10px;

}

.row-1{
	background-color: #dfdfdf;
	font-weight: bold;
	
}

.row-3, .row-5{
	background-color: #fff;
}

.profile{
	padding: 45px 0;
	background-color: #202e3b;
}

.profile h2{
	color: #fff;
	font-size: 26px;
	font-weight: normal;
}
.profile-data{
	width: 30%;
	margin-right: 5%;
	float: left;
}

.profile-data li{
	font-weight: bold;
	font-size: 18px;
	color: #919293;
	margin-bottom: 20px;
}

.data-number{
	font-weight: bold;
	font-size: 38px;
	color: #f1b132;
	margin-right: 5px;
	}

.profile-review{
	width: 65%;
	float: right;
}

.review-item{
	overflow: hidden;
	margin-bottom: 40px;
	margin-top: 20px;
}

.review-img{
	float: left;
	width: 20%;
	margin-right: 5%;
	border-radius: 5px;
}

.review-text{
	float: left;
	width: 75%;
	font-style: italic;
	color: #f5f5f5;
	font-size: 18px;

}

.review-author{
	
	font-weight: bold;
	color: #f1b132;
	font-style: normal;
	
}

.map{
	-webkit-background-size: cover;
	background-size: cover;
}

.portfolio-header{
	padding: 50px 0;
	background-image: url(..//img/portfolio-menu.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.portfolio-title{
	float: left;
	font-size: 24px;
	color: #ffcd34;
	font-weight: normal;
}

.portfolio-menu{
	float: right;
	text-align: center;
}

.portfolio-menu li{
	display: inline-block;
}

.portfolio-menu a{
	color: #fff;
	font-size: 16px;
	padding: 11px;
	font-weight: normal;
}

.portfolio-menu:last-child{
	padding-right: 0;
}



.snippet-1{
	background-image: url(..//img/porfolio-background-1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 10px solid #000;
	padding: 200px 0;
}




.snippet-2{
	background-image: url(..//img/porfolio-background-2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 10px solid #000;
	padding: 200px 0;
}



.snippet-3{
	background-image: url(..//img/porfolio-background-3.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 10px solid #000;
	padding: 200px 0;
}

.portfolio-snippet-item{
	background-color: #fff;
	width: 300px;
	border: none;
	padding: 30px;
}

.snippet-subtitle{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin-bottom: 15px;
}

.portfolio-snippet-text{
	font-size: 14px;
	font-weight: normal;
	color: #000;
	margin-bottom: 20px;

}

.button-more{
	background-color: #ffcd34;
	color: #1d333f;
	font-size: 15px;
	font-weight: bold;
	border: none;
	padding: 10px 38px 10px 16px;
	text-decoration: none;
	position: relative;
}


.button-more:after{
	position: absolute;
	content: '';
	width: 9px;
	height: 9px;
	border-right: 4px solid #1d333f;
	border-top: 4px solid #1d333f;
	top: 0;
	bottom: 0;
	right: 18px;
	margin: auto;
	transform: rotate(45deg);
}

.button-more:hover{
	background-color: #ffd966;
}

.button-more:active{
	background-color: #f6bf16;
}

.foot{
	background-color: #202e3b;
	overflow: hidden;
	padding: 25px 0;
}

.logo-footer{
	
	float: left;
	text-decoration: none;
	width: 220px;	
}

.logo-img-footer,
.logo-text-footer{
	vertical-align: middle;
	font-size: 24px;
	color: #ffcd34;
}

.footer-menu{
	float: right;
	text-align: center;
	padding: 12px;
}

.footer-menu li{
	
	display: inline-block;
}

.footer-menu a{
	font-size: 16px;
	padding: 11px;
	text-decoration: none;
	font-weight: normal;
}

.footer-item:hover{
	border: 1px solid #636d76;
}

.footer-item:active{
	border: 1px solid #a6abb1;
}

.footer-item{
	color: #fff;
}

.button-order-footer{
	text-decoration: none;
	color: #ffcd34;
	margin-left: 35px;
	border: none;
	padding: 0;
}
